<br><br>
<div class="small-8 columns">
<h1>About A&M Chess Camp</h1>

<div id="main_content"> 
<h3><em>History</em></h3>
<p> Founders Alex and Mark Heimann are USCF Chess Masters who are they are looking to teach other interested children chess skills. They have decided to establish a series of summer chess camps for children of various ages and skill levels. </p>

<h3><em>What is chess camp?</em></h3>
<p>Chess "camp" is much like other types of camps that are offered (rowing camp, art camp, basketball camp and the like). Students come in for a three-hour period – either a morning session (9:00am to 12:00pm) or an afternoon session (1:00pm to 4:00pm) – every day during the course of one week. During that time, students receive instruction in a particular aspect of chess and get an opportunity to play games against fellow campers. Performance on class exercises and in games gives students points that lead to trophies and ribbons at the end of the week.</p>
</div>
</div>

<div class="small-4 columns"><br>
	<%= image_tag 'about.jpg' %><br><br>
	<table>
		<ul> <h4> Helpful Links: </h4>
			<li> <a href ="http://en.wikipedia.org/wiki/Chess_rating_system"> Chess Rating System </a></li>
			<li> <a href="http://main.uschess.org/content/blogsection/12/35/"> United States Chess Federation (USCF) </a> </li>
			<li> <a href="https://www.uschess.org/content/view/7324"> Official Rules of Chess </a></li>
			<li> <a href="https://www.uschess.org/content/view/7326"> History of Chess </a></li></ul>
	</table>
</div>