<br><h1>A&M Chess Camp Privacy Policy</h1>

<br><div class="small-12 columns">
<div id="main_content"> 

	<p>A&M Chess Camp knows that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This notice describes our privacy policy. </p>

	<h3> Terms and Conditions </h3>
	<p>Our privacy policy is simple and does not require a lawyer 
		to understand it.  
		We will pounce on the opportunity to sell every
		bit of information on you we have at our disposal in order 
		to boost our bottom line.  We will gladly sell your 
		address, phone, email, age, name of pet, name of
		favorite superhero, color of bunny slippers you wear at 
		home, and the like, to any willing buyer who will pay us the big bucks.  
		(BTW, we <em>know</em> you wear bunny slippers at home and   
		we know what color they are.  You really have no secrets 
		from us.)  If you have sensitive information that you don't want us to 
		share with the world, then keep it to yourself -- don't tell us.  
	</p>

	<h3> Terms of Use </h3>
	<p> These Terms and Conditions of Use (the “Terms of Use”) apply to the A&M Chess Camp web site, and all associated sites linked to to it by A&M Chess Camp, its subsidiaries and affiliates, including A&M Chess Camp sites around the world (collectively, the “Site”). The Site is the property of A&M Chess Camp Inc.  and its licensors.</p>
	<br>
	<center>
		<h5>By using and visiting our site, you are accepting the practices described above.</h5>
		<h5> If you do not agree, do not use the site - It's really that simple.</h5></center>
	</div>
</div>