/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

* {font-family: 'Roboto', sans-serif;}

 div#home {
 	height: 70% ;
 	width: 100%;
 	background-image:url('cover.jpg');
 	background-position: right center;
 }

 div.home {
 	margin-top: 55%;
 }

 
 table.header{
 	border: none;
 	margin-bottom: -10px;
 }


 .descript {
 	width: auto;
 	height: auto;
 }   


 .picture {
 	height: 400px;
 	width: 300px;
 	border-color: black;
 	border: 3px solid;
 }

/*.columns {
	padding-bottom: 75px;
}*/


.social {
 border: none
}

div#login {
	float: right;
	margin-right: 25%;
	margin-bottom: 15%;
}

div.photo {
	height: 100px;
	width: 100px;
}



