<h3> All Active Camp Payment History </h3><br><br>

<%@active_camps.each do |camp| %>
     <h4> <%= camp.name %> (<%= camp.start_date.strftime('%m/%d/%y') %>)</h4>
    <table class="table">
      <tr>
        <th width="260">Student</th>
       <th width="120">Payment Status</th>
      </tr>
  <% camp.registrations.each do |registration| %>
  <tr>
    <td><%= registration.student.proper_name %></td>
    <td align="center"><%= registration.payment_status.capitalize %></td>
  </tr>
  <% end %>
</table>
<% end %>